div.header-mobile
 div.header-mobile_container
  div.logo-container
   img.logo-svg(src='/assets/img/logo.svg')
  div.text-wrapper
   div.mobile-phone
    img(src="/assets/img/iconmonstr-phone-8.svg") 
    div.mobile-text Anna  312 978 31 71
   div.mobile-phone
    img(src="/assets/img/iconmonstr-phone-8.svg")
    div.mobile-text Alex 646 417 11 08 
   div.e-mail elyproductionllc@gmail.com
 div.nav-container.nav-mobile
  ul.header-list
   li.header-item-mob
    div.icon-fa
     img(src="/assets/img/mob-home.svg")
     a(href='index.html').header-link home
   li.header-item-mob
    div.icon-fa
     img(src="/assets/img/mob-icon.svg")
     a(href='works.html').header-link our&nbspworks
   li.header-item-mob
    div.icon-fa
     img(src="/assets/img/mob-speech.svg")
     a(href='contacts.html').header-link contact&nbspus 
  
    
